mark {
	color: $body-color;
}

.card {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -2px 0px #272727;
}

.text-decoration-none {
	text-decoration: none!important;
}

.nav-pill {
	border-radius: 100px;
	outline: 2px solid $gray-500;
	outline-offset: -1px;
	margin-right: 0.75rem;
}

.nav-pill-section {
	padding: 0.5rem 0.375rem;
	text-decoration: none;
	display: inline-block;
	color: $gray-200;
}

.nav-pill-section-icon {
	position: relative;
	bottom: 2px;
}

.nav-pill-icon-left {padding-left:1rem;}
.nav-pill-icon-right {padding-right:1rem;}

.nav-pill-icon-single {
	padding-right: 1rem;
	padding-left:1rem;
}

.nav-pill-section:hover {
	color: rgba(255, 255, 255, 0.75)!important;
}

.nav-user {
	padding: 0 0 0 1rem!important;
	background: $gray-700;
	border-radius: 100px;
}

.nav-user:hover {
	background: $gray-600;
}

.nav-user-username {
	display: inline-block;
	margin-right: 0.375rem;
	position: relative;
	top: 1px;
	font-weight: 500;
}

.nav-pfp {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: $purple-800;
	border-radius: 100px;
	outline: 2px solid $gray-500;
	outline-offset: -1px;
	position: relative;
	left: 1px;
}

.notif-pfp {
	display: inline-block;
	height: 35px;
	width: 35px;
	background: $gray-500;
	border-radius: 100px;
	border: 2px solid $gray-400;
	margin-left: 0.75rem;
	margin-right: 0.5rem;
}

.notif-icon {
	display: inline-block;
	height: 35px;
	width: 35px;
	border-radius: 100px;
	margin-left: 0.75rem;
	margin-right: 0.5rem;
}

.notif-icon-primary {
	background: $purple-800;
	border: 2px solid $purple-700;
}

.notif-icon-success {
	background: $green-800;
	border: 2px solid $green-700;
}


.notif-text {
	margin-right: 1rem;
}

.notif-new {
	border-left: $primary solid 3px;
}

.notif-badge {
	position: relative;
	bottom: 2px;
	margin-left: 0.5rem;
}

.notif-info {
	margin-top: 0.5rem;
	font-size: 0.875rem;
}

.notif:hover {
	background: $gray-500;
}

.notif-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 15rem;
}

.user-dropdown {
	position: absolute!important;
	right: 0.75rem!important;
	margin-top: 0.75rem !important;
}

.notification-dropdown {
	position: absolute !important;
	margin-top: 1.375rem !important;
	
}

.notification-dropdown-title {
	font-weight: 600;
	color: white;
}

.second-nav {
	background: $gray-800!important;
}

@media (max-width: 768px) {
	.nav-logo-lg {
		display: none;
	}

	.nav-user {
		padding: 0!important;
	}

	.nav-pill {
		border: 2px solid $gray-500;
		outline: 0 !important;
	}

	.nav-pfp {
		border: 0;
		outline: 0!important;
		left: 0!important;
	}
}

.icon-dropdown:focus {
	color: $gray-100;
}

/*
 * Navbar
 */

.navbar-brand {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	background-color: $gray-900;
	line-height: 100%;
}

.navbar-brand-logo {
	height: 1.5rem;
}

.navbar .navbar-toggler {
	top: .25rem;
	right: 1rem;
}

.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
	font-weight: 500;
}

.form-control-dark {
	color: $gray-100;
	background-color: $gray-900;
	border-color: $gray-900;
}

.form-control-dark:focus {
	border-color: transparent;
	background-color: $gray-900;
}

/*
 * Sidebar
 */

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

main {
	display: flex;
	flex-wrap: nowrap;
	height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	overflow-x: auto;
	overflow-y: hidden;
}

.b-example-divider {
	flex-shrink: 0;
	width: 0;
	height: calc(100vh - 64px);
	background-color: rgba(0, 0, 0, .1);
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
	vertical-align: -.125em;
	pointer-events: none;
	fill: currentColor;
}

.dropdown-toggle {
	outline: 0;
}

.nav-flush .nav-link {
	border-radius: 0;
}

.btn-toggle {
	display: inline-flex;
	align-items: center;
	padding: .25rem .5rem;
	font-weight: 600;
	color: rgba(0, 0, 0, .65);
	background-color: transparent;
	border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
	color: rgba(0, 0, 0, .85);
	background-color: #d2f4ea;
}

.btn-toggle::before {
	width: 1.25em;
	line-height: 0;
	content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
	transition: transform .35s ease;
	transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
	color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
	transform: rotate(90deg);
}

.btn-toggle-nav a {
	display: inline-flex;
	padding: .1875rem .5rem;
	margin-top: .125rem;
	margin-left: 1.25rem;
	text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
	background-color: #d2f4ea;
}

.scrollarea {
	overflow-y: auto;
}

.fw-semibold {
	font-weight: 600;
}

.lh-tight {
	line-height: 1.25;
}

.side-nav-active {
	border-left: 3px solid $primary!important;
	color: $gray-100!important;
}

.sidebar-icon {
	color: $gray-300;
}

.border-right {
	border-right: 2px solid $gray-500 !important;
}

.bg-sidebar {
	background: $gray-800;
}