 mark {
	 color: $body-color;
 }

.card {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -2px 0px #272727;
}

.nav-pill {
	outline: 2px solid $gray-500;
	border-radius: 100px;
	margin-right: 0.75rem;
}

.nav-pill-section {
	padding: 0.5rem 0.375rem;
	text-decoration: none;
	display: inline-block;
	color: $gray-200;
}

.nav-pill-section-icon {
	position: relative;
	bottom: 2px;
}

.nav-pill-icon-left {padding-left:1rem;}
.nav-pill-icon-right {padding-right:1rem;}

.nav-pill-icon-single {
	padding-right: 1rem;
	padding-left:1rem;
}

.nav-pill-section:hover {
	color: rgba(255, 255, 255, 0.75)!important;
}

.nav-user {
	padding-top: 0!important;
	padding-bottom: 0 !important;
	padding-right: 0 !important;
	padding-left: 1rem !important;
	background: $gray-700;
	border-radius: 100px;
}

.nav-user:hover {
	background: $gray-600;
}

.nav-user-username {
	display: inline-block;
	margin-right: 0.375rem;
	position: relative;
	top: 1px;
	font-weight: 500;
}

.nav-pfp {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: $purple-800;
	border: 2px solid $gray-500;

	border-radius: 100px;
	position: relative;
	left: 1px;
}

.notif-pfp {
	display: inline-block;
	height: 35px;
	width: 35px;
	background: $gray-500;
	outline: 2px solid $gray-400;
	border-radius: 100px;
	margin-left: 0.75rem;
	margin-right: 0.5rem;
}

.notif-icon {
	display: inline-block;
	height: 35px;
	width: 35px;
	background: $purple-800;
	border: 2px solid $purple-700;
	border-radius: 100px;
	margin-left: 0.75rem;
	margin-right: 0.5rem;
}

.notif-text {
	margin-right: 1rem;
}

.notif-new {
	border-left: $primary solid 3px;
	position: relative;
	right: 2px;
}

.notif-badge {
	position: relative;
	bottom: 2px;
	margin-left: 0.5rem;
}

.notif-info {
	margin-top: 0.5rem;
	font-size: 0.875rem;
}

.user-dropdown {
	position: absolute!important;
	right: 0.75rem!important;
	margin-top: 0.75rem !important;
}

.notification-dropdown {
	position: absolute !important;
	margin-top: 0.75rem !important;
	
}

.notification-dropdown-title {
	font-weight: 600;
	color: white;
}

.second-nav {
	background: $gray-800!important;
}

/*
 * Navbar
 */

.navbar-brand {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	background-color: $gray-900;
	line-height: 100%;
}

.navbar-brand-logo {
	height: 1.5rem;
}

.navbar .navbar-toggler {
	top: .25rem;
	right: 1rem;
}

.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
	font-weight: 500;
}

.form-control-dark {
	color: $gray-100;
	background-color: $gray-900;
	border-color: $gray-900;
}

.form-control-dark:focus {
	border-color: transparent;
	background-color: $gray-900;
}