/*
Scrollbars
*/
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: $gray-300;
}

/*
* Text Utilities
*/
.text-decoration-none {
  text-decoration: none !important;
}

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-md {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

.text-5xl {
  font-size: 3rem; /* 48px */
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}

.text-7xl {
  font-size: 4.5rem; /* 72px */
  line-height: 1;
}

.text-8xl {
  font-size: 6rem; /* 96px */
  line-height: 1;
}

.text-9xl {
  font-size: 8rem; /* 128px */
  line-height: 1;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mark {
  color: $body-color;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -2px 0px #272727;
}

.nav-pill {
  border-radius: 100px;
  outline: 2px solid $gray-500;
  outline-offset: -1px;
  margin-right: 0.75rem;
}

.nav-pill-section {
  padding: 0.5rem 0.375rem;
  text-decoration: none;
  display: inline-block;
  color: $gray-200;
}

.nav-pill-section-icon {
  position: relative;
  bottom: 2px;
}

.nav-pill-icon-left {
  padding-left: 1rem;
}
.nav-pill-icon-right {
  padding-right: 1rem;
}

.nav-pill-icon-single {
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-pill-section:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}

.nav-user {
  padding: 0 0 0 1rem !important;
  background: $gray-700;
  border-radius: 100px;
}

.nav-user:hover {
  background: $gray-600;
}

.nav-user-username {
  display: inline-block;
  margin-right: 0.375rem;
  position: relative;
  top: 1x;
  font-weight: 500;
}

.nav-pfp {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: $purple-800;
  border-radius: 100px;
  outline: 2px solid $gray-500;
  outline-offset: -1px;
  position: relative;
  left: 1px;
}

.nav-pfp-admin {
  background: $red-800;
}

.list-pfp {
  display: inline-block;
  height: 45px;
  width: 45px;
  background: $gray-500;
  border-radius: 100px;
  border: 2px solid $gray-400;
}

.notif-pfp {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: $gray-500;
  border-radius: 100px;
  border: 2px solid $gray-400;
  margin-left: 0.75rem;
  margin-right: 0.5rem;
}

.notif-icon {
  display: inline-block;
  height: 35px;
  width: 35px;
  border-radius: 100px;
  margin-left: 0.75rem;
  margin-right: 0.5rem;
}

.notif-icon-primary {
  background: $purple-800;
  border: 2px solid $purple-700;
}

.notif-icon-success {
  background: $green-800;
  border: 2px solid $green-700;
}

.notif-icon-warning {
  background: $yellow-800;
  border: 2px solid $yellow-700;
}

.notif-text {
  margin-right: 1rem;
}

.notif-new {
  border-left: $primary solid 3px;
}

.notif-badge {
  position: relative;
  bottom: 2px;
  margin-left: 0.5rem;
}

.notif-info {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.notif:hover {
  background: $gray-500;
}

.notif-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15rem;
}

.user-dropdown {
  position: absolute !important;
  right: 0.75rem !important;
  margin-top: 0.75rem !important;
}

.notification-dropdown {
  position: absolute !important;
  margin-top: 1.375rem !important;
}

.notification-dropdown-title {
  font-weight: 600;
  color: white;
}

.second-nav {
  background: $gray-800 !important;
}

@media (max-width: 768px) {
  .nav-logo-lg {
    display: none;
  }

  .nav-user {
    padding: 0 !important;
  }

  .nav-pill {
    border: 2px solid $gray-500;
    outline: 0 !important;
  }

  .nav-pfp {
    border: 0;
    outline: 0 !important;
    left: 0 !important;
  }
}

.main-section {
  margin-top: 0.75rem;
}

@media (min-width: 768px) {
  .main-section {
    padding-left: 98px;
    margin-top: 4rem;
  }
}

.page-title {
  margin-bottom: 1.5rem;
}

.icon-dropdown:focus {
  color: $gray-100;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: $gray-900;
  line-height: 100%;
}

.navbar-brand-logo {
  height: 1.5rem;
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
  font-weight: 500;
}

.form-control-dark {
  color: $gray-100;
  background-color: $gray-900;
  border-color: $gray-900;
}

.form-control-dark:focus {
  border-color: transparent;
  background-color: $gray-900;
}

/*
 * Sidebar
 */

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.sidebar-container {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: visible;
  overflow-y: hidden;
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}

.lh-tight {
  line-height: 1.25;
}

.side-nav-active {
  border-left: 3px solid $primary !important;
  color: $gray-100 !important;
}

.sidebar-icon {
  color: $gray-300;
}

.sidebar {
  background: $gray-800;
  height: calc(100vh - 66px);
  overflow-y: overlay;
  position: fixed;
  border-right: 2px solid $gray-500;
  width: 5.5rem;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 4;
}

.mobile-nav-container {
  max-width: 420px;
}

.mobile-nav-link {
  color: #bbbbbb;
}
.mobile-nav-link a[type="button"] {
  border: none !important;
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  opacity: 1 !important;
}

.mobile-nav-link-active {
  color: white;
}

.avatar {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.avatar.avatar-xlg {
  width: 7.5rem;
  height: 7.5rem;
}

.float-right {
  float: right !important;
}

.card-header-bg {
  background-size: cover;
  background-position: center;
  height: 10rem;
}

.text-small {
  font-size: 0.875rem;
}

.text-bold {
  font-weight: 700;
}

.text-primary-light {
  color: $purple-400 !important;
}

.thumbnail {
  width: 100%;
  background: $gray-500;
  border-radius: $border-radius-sm;
  max-width: 320px;
}

.admin {
  font-weight: 700;
  color: $red;
}

.admin:hover {
  font-weight: 700;
  color: $red-400 !important;
}

.user {
  font-weight: 700;
  color: $body-color;
}

.game-link {
  text-decoration: none;
  color: $body-color;
}

.mb-3-5 {
  margin-bottom: 24px !important;
}

.bg-gray-500 {
  background: $gray-500;
}

.mr-2 {
  margin-right: 20px !important;
}

a {
  font-weight: 700;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.text-not-bold {
  font-weight: 400 !important;
}

.rounded-lg {
  border-radius: $border-radius-lg;
}

.rounded-bottom-lg {
  border-bottom-right-radius: 0.75rem !important;
  border-bottom-left-radius: 0.75rem !important;
}

.main-pfp {
  display: inline-block;
  background: $gray-500;
  border-radius: 100px;
  border: 2px solid $gray-400;
}

.pfp-admin {
  background: $red-800 !important;
}

.slot {
  height: 6.25rem;
  width: 6.25rem;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #262626;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.2s;
  user-select: none;
}

.slot .bv-icon::before {
  filter: brightness(0) invert(1);
  opacity: 0.1;
  height: 50px;
  width: 50px;
}

.slot.has-item {
  opacity: 0.8;
  background-color: #3f3f3f;
  padding: 10px;
}

.slot.has-item:hover {
  opacity: 1;
  transform: scale(1.1);
}

.authentication {
  background: url("../img/background/stars-alt.png") fixed no-repeat;
  backdrop-filter: blur(2px);
  background-size: cover;
}

.authentication .sticker {
  transform: rotate(-10deg);
  top: -120px;
  left: -136px;
}

.input-parent {
  position: relative;
}

.input-parent.has-icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  font-size: 18px;
  padding: 0 12px;
  height: 100%;
  position: absolute;
}

.input-parent.has-icon .form-control {
  padding-left: 38px;
}

.divider {
  margin: 8px 0;
  text-transform: uppercase;
  color: $gray-300;
  font-size: 14px;
  text-align: center;
  user-select: none;
  font-weight: 700;
  display: flex;
}

.divider::before,
.divider::after {
  content: "";
  display: inline-block;
  flex-grow: 1;
  background-color: $gray-300;
  height: 1px;
  align-self: center;
  margin: 0px 7px;
}

.status {
  position: absolute;
  right: 5px;
  bottom: -5px;
  border-radius: 50%;
  border: 4px solid #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status.online {
  background-color: $green-500;
}

.status.offline {
  background-color: $gray-200;
}

.status.sm {
  height: 24px;
  width: 24px;
}

@media (max-width: 1024px) {
  .status.sm {
    height: 30px;
    width: 30px;
  }
}

.section:not(:last-child) {
  border-bottom: 1px solid $gray-400;
  padding-bottom: 16px;
}

.section:not(:first-child) {
  padding-top: 16px;
}

.min-w-0 {
  min-width: 0 !important;
}

/* Custom Toastr JS 
 *
 * toastr v2.1.3
 *
 */

/*
 * Note that this is toastr v2.1.3, the "latest" version in url has no more maintenance,
 * please go to https://cdnjs.com/libraries/toastr.js and pick a certain version you want to use,
 * make sure you copy the url from the website since the url may change between versions.
 * */
.toast-title {
  font-weight: bold;
}

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.toast-message a,
.toast-message label {
  color: #ffffff;
}

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  line-height: 1;
}

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

.rtl .toast-close-button {
  left: -0.3em;
  float: left;
  right: 0.3em;
}

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-left {
  top: 12px;
  left: 12px;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

#toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  /*overrides*/
}

#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#toast-container > div {
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 20px 6px #00000047;
  -webkit-box-shadow: 0 0 20px 6px #00000047;
  box-shadow: 0 0 20px 6px #00000047;
  color: #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

#toast-container > div.rtl {
  direction: rtl;
  padding: 15px 50px 15px 15px;
  background-position: right 15px center;
}

#toast-container > div:hover {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: rgb(31, 145, 220);
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }

  #toast-container > div.rtl {
    padding: 8px 50px 8px 8px;
  }

  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }

  #toast-container .rtl .toast-close-button {
    left: -0.2em;
    right: 0.2em;
  }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }

  #toast-container > div.rtl {
    padding: 8px 50px 8px 8px;
  }

  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }

  #toast-container .rtl .toast-close-button {
    left: -0.2em;
    right: 0.2em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }

  #toast-container > div.rtl {
    padding: 15px 50px 15px 15px;
  }
}

// Toast Colors

.toast {
  background-color: #303030;
}
.toast-success {
  background-color: $green-600;
}
.toast-error {
  background-color: $red-600;
}
.toast-info {
  background-color: $cyan-600;
}
.toast-warning {
  background-color: $yellow-600;
}

// Toast Icons

#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAWhJREFUSEu1ljtOAzEQhr+/p6OESLQIDsEBCBJIUFPx6OkJlwgiTXoigZSkh0MQ0SIBJWcYNKt1cJZk7Y207lYez2fPP48ViWVmO8AhsFkx/QGmkj7qXGjVppm50wugm7jDBBhImi6zWwows0fgNPW6yv5I0ln1zD+Amb0Bew2dB/OZpP347ALAzL6ArTWdh2PfkrbDxxxgZk/AcY1zF/O13D8AXPxV61nSiW8WgFJQF6tuXUoalPYu/kPCvuvCB8A4lS2SquG0VHZJOpKZebw+M+Le9AXusuOAK+A+A9BEg+Du2gG3QC8BmAGjyMZrJCeV+7mAnqS7AMi8lJuPcwF++76kIk3bALjf+SsaAIoQ5Yq8DqAQOTdNq4AbYCORHJ3cQlsQudTB28VLDWBSFFpmq1gGOAeGNYC/VlFCUs0uoxbnJovNLsrv9tp1BGlv4ESQ9kZmBGlv6MdqRr8tu0AYha7Ve85vyy9EfLCVmauEfgAAAABJRU5ErkJggg==") !important;
}

#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAYxJREFUSEu1lr0uREEUx3//jhYdGypiVyNRktBbCQmPILyAltoDkHgEm5Dsbk9CS2V9VeKjVNMdmZu53L3WzizuVDOZc87vzJwz54wIDDMbAxaBwZzoK9CU9NDNhH7aNDNndB2oBnxoAAeSmp3kOgLM7BBYDZ0ut1+TtJbX+QYwsyug0qPxVLwlaSqr2wYws2dg+JfGU7UXSSPp4hNgZkfA8h+Np+rHklbcIgH4gLpgdRsVSddevgy0AvJVF/gUUI/Iln5J7x7QB7yFskvSkszM3ddTxNUMSXK57048ACTzwCg5wAawH5IERiU9ekAJSOaBsekA28BOSBIoS7rxgAngNkJnrxfAjKQLD5gGLiMA9V4Ac5LOPWAWOPtvQC2Tmu6lx5SS5Ipig+wc3vVeb0V470SSIMem6YSke39F48BdBKQU+9BOJS1kDZrZCTDfBdJIHpr3yNX+UKno9QRfpcJDYopdbAzai116zELLdQZSXMPJQIprmRlIcU0/l47pt2USSFuha62u8AW/LR+mIa6VDuADnwAAAABJRU5ErkJggg==") !important;
}

#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}

#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAYpJREFUSEu1lTsvREEYhp+30kv8Ao3QaYTKSnQulUtBRUUkdCRUJHQkQkVF4VK5dBJULo2OaPwCoVd9Mmt2s3t2zpljlynPme99zjfnmRnxz0N5882sHZjz87clveSpzQUwsybgDuj0oU9Aj6SvGCQvYBFYT4QtSdpoGGBmrcA90JIIewe6Jb1lQaIdmNkOMJMSsitptm6AmfUCN5FlKEi6TZuT2YGZnQFDEcC5pOFfA8xsAjioKHwG3Lq74f5HR8W7SUmHIUiwg4CWrrZPUnG5zKwAXFcEpmqbBghpOSjp0gMGgIs82tYAMrQcl3TsAWPAUR5tQ4A0Lacl7XvAFLAXWPMabasAES0XJG15wDywmWJOlbZJQJaWK5LWPGAZWE0BVGlbBgS0DNWXNpTbgFmjrG0RkKJlKKDfP7yKAMralgAhLZMZo5JO/QeNACcRSPG0VYaWjQJ+TtvIaZmEuB3sRuwALNXtOsAH0Bxpt97Xnw7wAHTVmxCpe3SA0mXe9seQV2A7eqM1Cv0GCxSfocNrs70AAAAASUVORK5CYII=") !important;
}

#toast-container > .friend-request {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAZ5JREFUSEu1lD1LHFEUhp/3D1hIiAiBJEQbBSEYEIuAQogIapkuTQQRW5GojUkZSWuRkOAP2E47EdxCcJuFEJIiqCAB02yXP/DKlZ1h9mNmZ3bYC5c73Dnvee45554rBjw0YP+kAmy/Ah4Dj4BL4I+ketEDdQXY3gM+dHG2JelzEUgHwPYXYC3DyUtJ53khLQDbo8C/HuKapNl+AUvAcQ7xQ0mNHHatRba9ARzkED6X9CNpZ/s1sAM0JL2J/rWnaAL43QNwJWm83SZ5MSTFfrsV+QhYzoC8k3TYNyAIbf8CJrtATiQtRPuJtERbc82PanNtZDVa6IUgCLMCnEr62pb3tH6JzUo9FbZHgPUENGrOuEljgO1p4C3wFBgCroGfzTkFhPkMuAX+StpNi6ajyLZXgO/AgxxXNDK5kRQOcz9Sb5HtJ8AZENaioy7pRRMQp0vSx7gPbIfHa7Oo54T9J0nbaXrZrgEzJQCVZOe2+wkAl3AepFVJ81kRDBzwDVgtEcW+pPdZEYwBi8BwH5BQvwtJ/1MBfTgtJCn1VOQh3QGOzI04KvHfKAAAAABJRU5ErkJggg==") !important;
}
