/*
* Text Utilities
*/
.text-decoration-none {
	text-decoration: none!important;
}

.text-xs {
	font-size: 0.75rem; /* 12px */
	line-height: 1rem; /* 16px */
}

.text-sm {
	font-size: 0.875rem; /* 14px */
	line-height: 1.25rem; /* 20px */
}

.text-md {
	font-size: 1rem; /* 16px */
	line-height: 1.5rem; /* 24px */
}

.text-lg {
	font-size: 1.125rem; /* 18px */
	line-height: 1.75rem; /* 28px */
}

.text-xl {
	font-size: 1.25rem; /* 20px */
	line-height: 1.75rem; /* 28px */
}

.text-2xl {
	font-size: 1.5rem; /* 24px */
	line-height: 2rem; /* 32px */
}

.text-3xl {
	font-size: 1.875rem; /* 30px */
	line-height: 2.25rem; /* 36px */
}

.text-4xl {
	font-size: 2.25rem; /* 36px */
	line-height: 2.5rem; /* 40px */
}

.text-5xl {
	font-size: 3rem; /* 48px */
	line-height: 1;
}

.text-6xl {
	font-size: 3.75rem; /* 60px */
	line-height: 1;
}

.text-7xl {
	font-size: 4.5rem; /* 72px */
	line-height: 1;
}

.text-8xl {
	font-size: 6rem; /* 96px */
	line-height: 1;
}

.text-9xl {
	font-size: 8rem; /* 128px */
	line-height: 1;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

mark {
	color: $body-color;
}

.card {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -2px 0px #272727;
}

.nav-pill {
	border-radius: 100px;
	outline: 2px solid $gray-500;
	outline-offset: -1px;
	margin-right: 0.75rem;
}

.nav-pill-section {
	padding: 0.5rem 0.375rem;
	text-decoration: none;
	display: inline-block;
	color: $gray-200;
}

.nav-pill-section-icon {
	position: relative;
	bottom: 2px;
}

.nav-pill-icon-left {padding-left:1rem;}
.nav-pill-icon-right {padding-right:1rem;}

.nav-pill-icon-single {
	padding-right: 1rem;
	padding-left:1rem;
}

.nav-pill-section:hover {
	color: rgba(255, 255, 255, 0.75)!important;
}

.nav-user {
	padding: 0 0 0 1rem!important;
	background: $gray-700;
	border-radius: 100px;
}

.nav-user:hover {
	background: $gray-600;
}

.nav-user-username {
	display: inline-block;
	margin-right: 0.375rem;
	position: relative;
	top: 1px;
	font-weight: 500;
}

.nav-pfp {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: $purple-800;
	border-radius: 100px;
	outline: 2px solid $gray-500;
	outline-offset: -1px;
	position: relative;
	left: 1px;
}

.nav-pfp-admin {
	background: $red-800;
}

.list-pfp {
	display: inline-block;
	height: 45px;
	width: 45px;
	background: $gray-500;
	border-radius: 100px;
	border: 2px solid $gray-400;
}

.notif-pfp {
	display: inline-block;
	height: 35px;
	width: 35px;
	background: $gray-500;
	border-radius: 100px;
	border: 2px solid $gray-400;
	margin-left: 0.75rem;
	margin-right: 0.5rem;
}

.notif-icon {
	display: inline-block;
	height: 35px;
	width: 35px;
	border-radius: 100px;
	margin-left: 0.75rem;
	margin-right: 0.5rem;
}

.notif-icon-primary {
	background: $purple-800;
	border: 2px solid $purple-700;
}

.notif-icon-success {
	background: $green-800;
	border: 2px solid $green-700;
}

.notif-icon-warning {
	background: $yellow-800;
	border: 2px solid $yellow-700;
}


.notif-text {
	margin-right: 1rem;
}

.notif-new {
	border-left: $primary solid 3px;
}

.notif-badge {
	position: relative;
	bottom: 2px;
	margin-left: 0.5rem;
}

.notif-info {
	margin-top: 0.5rem;
	font-size: 0.875rem;
}

.notif:hover {
	background: $gray-500;
}

.notif-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 15rem;
}

.user-dropdown {
	position: absolute!important;
	right: 0.75rem!important;
	margin-top: 0.75rem !important;
}

.notification-dropdown {
	position: absolute !important;
	margin-top: 1.375rem !important;
	
}

.notification-dropdown-title {
	font-weight: 600;
	color: white;
}

.second-nav {
	background: $gray-800!important;
}

@media (max-width: 768px) {
	.nav-logo-lg {
		display: none;
	}

	.nav-user {
		padding: 0!important;
	}

	.nav-pill {
		border: 2px solid $gray-500;
		outline: 0 !important;
	}

	.nav-pfp {
		border: 0;
		outline: 0!important;
		left: 0!important;
	}
}

.main-section {
	margin-top: .75rem;
}

@media (min-width: 768px) {
	.main-section {
		padding-left: 98px;
		margin-top: 4rem;
	}
}

.page-title {
	margin-bottom: 1.5rem;
}

.icon-dropdown:focus {
	color: $gray-100;
}

/*
 * Navbar
 */

.navbar-brand {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	background-color: $gray-900;
	line-height: 100%;
}

.navbar-brand-logo {
	height: 1.5rem;
}

.navbar .navbar-toggler {
	top: .25rem;
	right: 1rem;
}

.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
	font-weight: 500;
}

.form-control-dark {
	color: $gray-100;
	background-color: $gray-900;
	border-color: $gray-900;
}

.form-control-dark:focus {
	border-color: transparent;
	background-color: $gray-900;
}

/*
 * Sidebar
 */

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

.sidebar-container {
	display: flex;
	flex-wrap: nowrap;
	height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	overflow-x: auto;
	overflow-y: hidden;
}

.bi {
	vertical-align: -.125em;
	pointer-events: none;
	fill: currentColor;
}

.dropdown-toggle {
	outline: 0;
}

.nav-flush .nav-link {
	border-radius: 0;
}

.btn-toggle {
	display: inline-flex;
	align-items: center;
	padding: .25rem .5rem;
	font-weight: 600;
	color: rgba(0, 0, 0, .65);
	background-color: transparent;
	border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
	color: rgba(0, 0, 0, .85);
	background-color: #d2f4ea;
}

.btn-toggle::before {
	width: 1.25em;
	line-height: 0;
	content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
	transition: transform .35s ease;
	transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
	color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
	transform: rotate(90deg);
}

.btn-toggle-nav a {
	display: inline-flex;
	padding: .1875rem .5rem;
	margin-top: .125rem;
	margin-left: 1.25rem;
	text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
	background-color: #d2f4ea;
}

.scrollarea {
	overflow-y: auto;
}

.fw-semibold {
	font-weight: 600;
}

.lh-tight {
	line-height: 1.25;
}

.side-nav-active {
	border-left: 3px solid $primary!important;
	color: $gray-100!important;
}

.sidebar-icon {
	color: $gray-300;
}

.sidebar {
	background: $gray-800;
	height: calc(100vh - 66px);
	position: fixed;
	border-right: 2px solid $gray-500;
	width: 5.5rem;
}


.mobile-nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 4;
}

.mobile-nav-container {
	max-width: 420px;
}

.mobile-nav-link {
	color: #bbbbbb;
}

.mobile-nav-link-active {
	color: white;
}

.avatar {
	flex-shrink: 0;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}

.avatar.avatar-xlg {
	width: 7.5rem;
	height: 7.5rem;
}

.float-right {
	float: right !important;
}

.card-header-bg {
	background-size: cover;
	background-position: center;
	height: 10rem;
}

.text-small {
	font-size: 0.875rem;
}

.text-bold {
	font-weight: 700;
}

.text-primary-light {
	color: $purple-400!important;
}

.thumbnail {
	width: 100%;
	background: $gray-500;
	border-radius: $border-radius-sm;
	max-width: 320px;
}

.admin {
	font-weight: 700;
	color: $red;
}

.admin:hover {
	font-weight: 700;
	color: $red-400!important;
}

.user {
	font-weight: 700;
	color: $body-color
}

.game-link {
	text-decoration: none;
	color: $body-color;
}

.mb-3-5 {
	margin-bottom: 24px!important;
}

.bg-gray-500 {
	background: $gray-500;
}

.mr-2 {
	margin-right: 20px!important;
}

a {
	font-weight: 700;
}

.font-weight-normal {
	font-weight: 400!important;
}

.text-not-bold {
	font-weight: 400!important;
}

.rounded-lg {
	border-radius: $border-radius-lg;
}

.rounded-bottom-lg {
	border-bottom-right-radius: 0.75rem !important;
	border-bottom-left-radius: 0.75rem !important;
}

.main-pfp {
	display: inline-block;
	background: $gray-500;
	border-radius: 100px;
	outline: 2px solid $gray-400;
	outline-offset: -1px;
}

.pfp-admin {
	background: $red-800!important;
}

.slot {
    height: 6.25rem;
    width: 6.25rem;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #262626;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s;
    user-select: none;
}

.slot .bv-icon::before {
    filter: brightness(0) invert(1);
    opacity: 0.1;
    height: 50px;
    width: 50px;
}

.slot.has-item {
    opacity: 0.8;
    background-color: #3f3f3f;
    padding: 10px;
}

.slot.has-item:hover {
    opacity: 1;
    transform: scale(1.1);
}
.authenication {
	background: url("/dist/img/background/stars-alt.png") fixed no-repeat;
	backdrop-filter: blur(2px);
	background-size: cover;
}
.authenication .sticker {
	transform: rotate(-10deg);
	top: -120px;
	left: -136px;
}

.input-parent {
    position: relative;
}
.input-parent.has-icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    font-size: 18px;
    padding: 0 12px;
    height: 100%;
    position: absolute;
}
.input-parent.has-icon .form-control {
    padding-left: 38px;
}

.divider {
    margin: 8px 0;
    text-transform: uppercase;
    color: $gray-300;
    font-size: 14px;
    text-align: center;
    user-select: none;
    font-weight: 700;
    display: flex;
}
.divider::before, .divider::after {
    content: "";
    display: inline-block;
    flex-grow: 1;
    background-color: $gray-300;
    height: 1px;
    align-self: center;
    margin: 0px 7px;
}